<% if(!user) { %>
    <h1>To see your profile please Log In or Sign Up.</h1>
    <ul>
        <li>
            <a href="/auth/login">Login</a>
        </li>
        <li>
            <a href="/auth/signup">Signup</a>
        </li>
        <li>
            <a href="/auth/facebook">Login con facebook</a>
        </li>
        <li>
            <a href="/auth/google">Login con google</a>
        </li>
    </ul>
    <% } else { %>

        <% reviews.forEach(review=>{ %>
            <div class="card">
                <%= review.comment %>
            </div>
            <% })%>
                <p>
                </p>
                <% } %>