<!DOCTYPE html>
<html>
  <head>
    <title>myAdvisor</title>
  </head>
  <body>
    <h1>myAdvisor</h1>
    <% if(!user) { %>
      <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/facebook">Login con facebook</a></li>
        <li><a href="/auth/google">Login con google</a></li>
      </ul>
    <% } else { %>
      <h2>Hola <%= user.username %></h2>
      <img src="/images/descarga.jpeg" alt=""/>
    </br>
      <a href="/map">Map</a>
      <a href="/profile?id=<%= user._id %>">Onlyme</a>
      <a href="/auth/logout">Logout</a>
      <a href="/index">Place</a>
      <a href="/index"></a>
    <% } %>
  </body>
  
</html>

