<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/facebook">Login con facebook</a></li>
        <li><a href="/auth/google">Login con google</a></li>
      </ul>
  </body>
  
</html>

