body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  color: #00B7FF;
}

#map {
  height: 100%;
  margin-top:20px;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 20;
}

.charlie-effect{
  background-color: #00B7FF;
  font: white; 
}

.material-icons{
  color: black;
}

.nav-wrapper{
  margin-top: 4px;
}

.brand-logo{
  margin-top: 0.5%;
  margin-left: 2%;
}

.btn-large {
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
}

.btn-large:hover{
  background-color: white;
  box-shadow: none;
  color: #42A5F5; 
}

.btn{
  background-color: #42A5F5;
  color: white;
  font-weight: bold;
  box-shadow: 1px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
  text-align: center;
  border-radius: 30px;
}

.btn:hover{
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: 1px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
  text-align: center;
  border-color: 
}

.material-icons{
  color: white;
}

.btn:hover .material-icons{
  color: black;
}

.container{
  width:100%;
}
.container-profile{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.teal{
  background-color: rgba(51,51,51,0.03) !important;
  padding: none;
}

.footer-logo{
  margin-left: 10%;
  margin-top: 10%;
}
.footer-caption{
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.social{
  margin-right: 1%;
}

.dev-profile{
  color: #919496;
  font-size: 12px;
  font-weight: bold;
}

.dev-profile:hover{
  background-color: none;
  box-shadow: none;
  color: #42A5F5; 
}

.lower-bar{
  text-align: center;
  color: black;
  font-size: 11px;
  font-weight: bold;
  box-shadow: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
}

.footer-copyright{
  background-color: rgba(51,51,51,0.02) !important;
  width: 100%;
}

.container{
  max-width: 1406px;
}

