body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 100%;
  margin-top:20px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 20;
}