<div class="container">
    <div class="row">
            <% places.forEach((place) => { %>
                <div class="col s4 card" style="width: 30% !important;margin:20px;padding:20px;height: 400px;">
                    <div class="center" style="margin: 0 auto">
                            <img src="<%= place.imageURL%>" width="200px" height="200px">
                            <h5>
                                <%= place.name %>
                            </h5>
                            </br>
                            <a class="inline btn" href="/detail/<%= place._id %>">View Details</a>
                            <a class="inline btn" href="/review/<%= place._id %>">Make a review</a>
                    </div>
                </div>
            
                <%  }) %>
    </div>
</div>