<div class="row card">
<form action="/comment/<%=place.id%>" method="post">
    <div style="float:right">
      <img src="<%= place.imageURL%>" style="width:700px; padding:50px">
    </div>
    <div>
    <label>Limpieza</label>
    <p class="range-field">
      <input type="range" id="poprieta" name="proprieta" min="0" max="5" />
    </p>
    <br>
    <label>Olor</label>
    <p class="range-field">
      <input type="range" id="poprieta1" name="proprieta1" min="0" max="5" />
    </p>
    <br>
    <label>Ruido</label>
    <p class="range-field">
      <input type="range" id="poprieta2" name="proprieta2" min="0" max="5" />
    </p>    <br>
    <label>Papel Igienico</label>
    <p class="range-field">
      <input type="range" id="poprieta3" name="proprieta3" min="0" max="5" />
    </p>    <br>
    <label>Decoración</label>
    <p class="range-field">
      <input type="range" id="poprieta4" name="proprieta4" min="0" max="5" />
    </p>    <br>
    <label>Disponibilidad</label>
    <p class="range-field">
      <input type="range" id="poprieta5" name="proprieta5" min="0" max="5" />
    </p>
    </div>
    <br>
     <div class="row">
          <div class="input-field col s12">
            <label for="textarea1">Comment</label>
            <br>
            <textarea id="textarea1" name="comment" class="materialize-textarea" data-length="120"></textarea>
          </div>
    </div>
    <button class="btn" type="submit">Comment</button>
</form>
</div>
