<div class="row" style="margin: 50px">
<form action="/comment/<%=place%>" method="post">
    <div style="float:right">
      <img src="<%= place.imageURL%>" style="width:700px; padding:50px">
    </div>
    <div style="width: 250px">
    <label>Proprieta1</label>
    <p class="range-field">
      <input type="range" id="poprieta" name="proprieta" min="0" max="5" />
    </p>
    <br>
    <label>Proprieta2</label>
    <p class="range-field">
      <input type="range" id="poprieta1" name="proprieta1" min="0" max="5" />
    </p>
    <br>
    <label>Proprieta3</label>
    <p class="range-field">
      <input type="range" id="poprieta2" name="proprieta2" min="0" max="5" />
    </p>    <br>
    <label>Proprieta4</label>
    <p class="range-field">
      <input type="range" id="poprieta3" name="proprieta3" min="0" max="5" />
    </p>    <br>
    <label>Proprieta5</label>
    <p class="range-field">
      <input type="range" id="poprieta4" name="proprieta4" min="0" max="5" />
    </p>    <br>
    <label>Proprieta6</label>
    <p class="range-field">
      <input type="range" id="poprieta5" name="proprieta5" min="0" max="5" />
    </p>
    </div>
    <br>
     <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" name="comment" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea1">Comment</label>
          </div>
    </div>
    <button class="btn" type="submit">Comment</button>
</form>
</div>
