<form action="/comment/<%=place%>" method="post">
    <label>Proprieta1</label>
    <input type="number" id="poprieta" name="proprieta" value="0">
    <br>
    <label>Proprieta2</label>
    <input type="number" id="poprieta1" name="proprieta1" value="0">
    <br>
    <label>Proprieta3</label>
    <input type="number" id="poprieta2" name="proprieta2" value="0">
    <br>
    <label>Proprieta4</label>
    <input type="number" id="poprieta3" name="proprieta3" value="0">
    <br>
    <label>Proprieta5</label>
    <input type="number" id="poprieta4" name="proprieta4" value="0">
    <br>
    <label>Proprieta6</label>
    <input type="number" id="poprieta5" name="proprieta5" value="0">
    <br>
    <label>Comment</label>
    <input type="text" id="comment" name="comment" >
  
    <button type="submit">Comment</button>
</form>
